
<div class="modal-header">
    <h4 class="modal-title">Loại sản phẩm mới</h4>
</div><div class="container"></div>
<div class="modal-body">
    <form id="formCreate">
        <input class="form-control" id="TenLoai" name="TenLoai" type="text" />
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">Lưu</button>
</div>
